<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Real-Time Web Analytics Dashboard - coligo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
    <body>
        <div class="container titlebox-bg">
            <div class="col-md-12 titlebox"><h1>Real time data tracking</h1></div>
        </div>
        <div class="">
            <div id="app">
                <div class="">
                    <div class="col-xs-2">
                        <div class="well">
                            <h5 class="dash-red">{{ activeUsers }} <i class="glyphicon glyphicon-user"></i></h5>
                            <h6 class="text-muted">Active Users</h6>

                        </div>
                        <div class="lf-menu">
                            <ul class="left-menu">
                                <li>
                                    <a href="/clickmap">Click Map</a>
                                </li>
                                <li>
                                    <a href="/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <a href="/live">Report</a>
                                </li>
                                <li>
                                    <a href="/live">SEO tech</a>
                                </li>
                                <li>
                                    <a href="/dmode" target="_blank">Developer mode</a>
                                </li>
                                <li>
                                    <a href="/live">A/B testing</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-7">

                        <span>Live Click map activity</span>
                        <div class="table-responsive clickmapgraph">

                            <div v-for="(page, count) in pages" style="display: inline-block;">
                                <div class='buttom' style="min-width: 50px;min-height:{{ page.split('-')[7] }}px; background:#{{ page.split('-')[0] }}{{ page.split('-')[1] }};">{{ page.split('-')[7] }}</div>
                            </div>
                        </div>
                        <div class="table-responsive ip-user">
                            <div v-for="(page, count) in pages" style="display: inline-block;padding-top: 5px;" class="row">
                                <div class='ip-graph'>{{ page.split('-')[4] }}</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div id="app2" class="col-md-9">
                <div>Live Scrolling</div>
                <div class="row inside-scrll">
                <div v-for="(page, count) in pages" style="display: inline-block;height: 150px;width: 20px;padding: 2px;">
                    <div style="height: cal({{ page.split('-')[9]}} / 10)px;width:10px;background:lightcoral ;position: absolute;bottom: 0px;overflow: hidden;"></div>                
                </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info hide btn-lg" data-toggle="modal" data-target="#myModal" id="showIframe">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">

                    </div>

                </div>

            </div>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/clickmap.js"></script>
        <script>

        </script>
    </body>

</html>