<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Red Coffee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/dashboard.css">
        <style>
            body{margin-top: 0px;}
            body{background: darkred;}
            iframe,body,p,a,span{color: white;}
            

        </style>
    </head>
    <body id="dmode">
        <div class="d-mode-cover"></div>
           <div class="dmode-rgb">
        <div id="app">
            <div v-for="(page, count) in pages">
                <p style="width: 10px;height: 10px;position: absolute;left:{{ page.split('&')[7] }}px;top: {{ page.split('&')[8] }}px;background: #fff;border-radius: 50%;-webkit-transition: width 2s"><p>
            </div>
        </div>
        <div id="app2">
            <div v-for="(page, count) in pages">
                <p style="width: 10px;height: 10px;position: absolute;left:{{ page.split('&')[7] }}px;top: {{ page.split('&')[8] }}px;background: white;"><p>
                <p style="position: absolute;left:{{ page.split('&')[7] - 50 }}px;top: {{ page.split('&')[8] - 50 }}px;border: 1px solid yellow; color: white;">{{ page.split('&')[13] }} : clicked <p>
               
            </div>
            <div style="color: #fff;position: absolute;left:0px;top: 0px;">
                 <p v-for="(page, count) in pages">{{page.split('&')[9]}}</p>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/dmode.js"></script>
</body>
</html>