<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Real-Time Analyics</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            body {
                background-color: #FFF;
            }

            .navbar {
                background-color: #373737;
                padding: 5px;
            }

            .navbar a {
                color: #8C8C8C;
                font-size: 1.5em;
            }

            .coligo {
                color: #D0D0D0;
                font-size: 0.8em;
            }
        </style>
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>


        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            function browser_name() {
                var nVer = navigator.appVersion;
                var nAgt = navigator.userAgent;
                var browserName = navigator.appName;
                var fullVersion = '' + parseFloat(navigator.appVersion);
                var majorVersion = parseInt(navigator.appVersion, 10);
                var nameOffset, verOffset, ix;

// In Opera 15+, the true version is after "OPR/" 
                if ((verOffset = nAgt.indexOf("OPR/")) != -1) {
                    browserName = "Opera";
                    fullVersion = nAgt.substring(verOffset + 4);
                }
// In older Opera, the true version is after "Opera" or after "Version"
                else if ((verOffset = nAgt.indexOf("Opera")) != -1) {
                    browserName = "Opera";
                    fullVersion = nAgt.substring(verOffset + 6);
                    if ((verOffset = nAgt.indexOf("Version")) != -1)
                        fullVersion = nAgt.substring(verOffset + 8);
                }
// In MSIE, the true version is after "MSIE" in userAgent
                else if ((verOffset = nAgt.indexOf("MSIE")) != -1) {
                    browserName = "Microsoft Internet Explorer";
                    fullVersion = nAgt.substring(verOffset + 5);
                }
// In Chrome, the true version is after "Chrome" 
                else if ((verOffset = nAgt.indexOf("Chrome")) != -1) {
                    browserName = "Chrome";
                    fullVersion = nAgt.substring(verOffset + 7);
                }
// In Safari, the true version is after "Safari" or after "Version" 
                else if ((verOffset = nAgt.indexOf("Safari")) != -1) {
                    browserName = "Safari";
                    fullVersion = nAgt.substring(verOffset + 7);
                    if ((verOffset = nAgt.indexOf("Version")) != -1)
                        fullVersion = nAgt.substring(verOffset + 8);
                }
// In Firefox, the true version is after "Firefox" 
                else if ((verOffset = nAgt.indexOf("Firefox")) != -1) {
                    browserName = "Firefox";
                    fullVersion = nAgt.substring(verOffset + 8);
                }
// In most other browsers, "name/version" is at the end of userAgent 
                else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) <
                        (verOffset = nAgt.lastIndexOf('/')))
                {
                    browserName = nAgt.substring(nameOffset, verOffset);
                    fullVersion = nAgt.substring(verOffset + 1);
                    if (browserName.toLowerCase() == browserName.toUpperCase()) {
                        browserName = navigator.appName;
                    }
                }
// trim the fullVersion string at semicolon/space if present
                if ((ix = fullVersion.indexOf(";")) != -1)
                    fullVersion = fullVersion.substring(0, ix);
                if ((ix = fullVersion.indexOf(" ")) != -1)
                    fullVersion = fullVersion.substring(0, ix);

                majorVersion = parseInt('' + fullVersion, 10);
                if (isNaN(majorVersion)) {
                    fullVersion = '' + parseFloat(navigator.appVersion);
                    majorVersion = parseInt(navigator.appVersion, 10);
                }

                return browserName;
            }

            if (readCookie('dm_pview') === null) {
                var timeStampInMs = Math.random().toString(36).substr(2, 15);
                createCookie("dm_pview", timeStampInMs, '');
            }
            var page_title = document.title ? document.title : "N/A";
            var page_origin = document.location.origin ? document.location.origin : "N/A";
            var page_url = document.location.href ? document.location.href : "N/A";
            var page_language = navigator.language ? navigator.language : "N/A";
            var page_height = document.body.offsetHeight ? document.body.offsetHeight : "N/A";
            var page_width = document.body.offsetWidth ? document.body.offsetWidth : "N/A";
            var browser_app = browser_name() ? browser_name() : "N/A";
            var devices = 'desktop';
            var mouseX = 0;
            var mouseY = 0;
            var ipaddress = '';
            var country_name = 'N/A';
            var country_code = 'N/A';
            var clickonpage = 0;
            var clickedele = 'N/A';
            var scrollPos = 0;
            var reffer = document.referrer ? document.referrer : "N/A";
            var user_state = '';
            var mouseY = 0;
            var mouseX = 0;
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }

            var Todaydate = yyyy + '-' + mm + '-' + dd;
            var Todaytime = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            if (sessionStorage.preview) {
                sessionStorage.preview = Number(sessionStorage.chkcookies) + 1;
            } else {
                sessionStorage.preview = 1;
            }

            if (sessionStorage.chkcookies) {
                sessionStorage.chkcookies = Number(sessionStorage.chkcookies) + 1;
            } else {
                sessionStorage.chkcookies = 1;
            }

            if (sessionStorage.chkcookies === "1") {
                if (readCookie("dm_web") === "R") {
                    sessionStorage.visi = 'Returning Visitor';
                } else {
                    sessionStorage.visi = 'Uniq visitor';

                }
            }
            user_state = sessionStorage.visi;
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                devices = 'mobile';
            }
            var locationPoint = 'N/A';
            var org = 'N/A'
            $.getJSON('//freegeoip.net/json/?callback=?', function(data) {
                ipaddress = data.ip;
                country_name = data.country_name;
                country_code = data.country_code;
              
            });
          
            $.getJSON('http://ipinfo.io/' + ipaddress, function(data) {
                  locationPoint = data.loc;
                  org = data.org;
                
            });
            var post_data;
            var socket = io();

            $(document).on("mousemove", function(event) {
                mouseX = event.pageX;
                mouseY = event.pageY;
                post_data = page_origin + "&" + page_url + "&" + page_language + "&" + page_height + "&" + page_width + "&" + browser_app + "&" + devices + "&" + mouseX + "&" + mouseY + "&" + ipaddress + "&" + country_name + "&" + country_code + "&" + clickonpage + "&" + clickedele + "&" + scrollPos + "&" + page_title + "&" + reffer + "&" + user_state + "&" + Todaydate + "&" + Todaytime + "&" + sessionStorage.preview + "&" + readCookie('dm_pview')+"&"+locationPoint+"&"+org;
                var visitorData = {
                    referringSite: document.referrer,
                    page: post_data,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data', visitorData);

            });
            $(document).click(function(event) {

                clickonpage = clickonpage + 1;
                clickedele = event.target.tagName;

                post_data = page_origin + "&" + page_url + "&" + page_language + "&" + page_height + "&" + page_width + "&" + browser_app + "&" + devices + "&" + mouseX + "&" + mouseY + "&" + ipaddress + "&" + country_name + "&" + country_code + "&" + clickonpage + "&" + clickedele + "&" + scrollPos + "&" + page_title + "&" + reffer + "&" + user_state + "&" + Todaydate + "&" + Todaytime + "&" + sessionStorage.preview + "&" + readCookie('dm_pview')+"&"+locationPoint+"&"+org;

                var visitorData = {
                    referringSite: document.referrer,
                    page: post_data,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data-click', visitorData);

            });
            $(window).scroll(function(event) {
                var tempscroll = scrollPos;
                scrollPos = $(window).scrollTop();
                if (tempscroll < scrollPos) {
                    tempscroll = scrollPos;
                } else {
                    scrollPos = tempscroll;
                }

                post_data = page_origin + "&" + page_url + "&" + page_language + "&" + page_height + "&" + page_width + "&" + browser_app + "&" + devices + "&" + mouseX + "&" + mouseY + "&" + ipaddress + "&" + country_name + "&" + country_code + "&" + clickonpage + "&" + clickedele + "&" + scrollPos + "&" + page_title + "&" + reffer + "&" + user_state + "&" + Todaydate + "&" + Todaytime + "&" + sessionStorage.preview + "&" + readCookie('dm_pview')+"&"+locationPoint+"&"+org;

                var visitorData = {
                    referringSite: document.referrer,
                    page: post_data,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data-scroll', visitorData);
            });
            function createCookie(name, value, days, path) {
                var date, expires = "";
                path = path || "/";
                if (days) {
                    date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toGMTString();
                }
                document.cookie = name + "=" + value + expires + "; path=" + path;
            }

            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ')
                        c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0)
                        return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
            $(window).on('beforeunload', function(e) {

                createCookie("dm_web", "R", 365 * 3);
            });

        </script>

    </body>

</html>
