<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Real-Time Analyics</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style>
            body {
                background-color: #FFF;
            }

            .navbar {
                background-color: #373737;
                padding: 5px;
            }

            .navbar a {
                color: #8C8C8C;
                font-size: 1.5em;
            }

            .coligo {
                color: #D0D0D0;
                font-size: 0.8em;
            }
        </style>
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Use the links below to test the real-time analytics dashboard</h3>
                    <h4 class="header"><a href="/about">About Us</a></h4>
                    <h4 class="header"><a href="/about">Contact Us</a></h4>
                </div>
            </div>
        </div>
        

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            var socket = io();
            var visitorData = {
                referringSite: document.referrer,
                page: location.pathname
            }
            var userAgent = navigator.userAgent;
            var otherDetails = '';
            var pagesUrl = window.location.href;
            var ipaddress = '';
            var country_name = '';
            var country_code = '';
            var clickonpage = 0;
            var clickedele = '';
            var scrollPos = '';
            $.getJSON('//freegeoip.net/json/?callback=?', function (data) {
                ipaddress = data.ip;
                country_name = data.country_name;
                country_code = data.country_code;
            });
            //console.log(otherDetails);
            $(document).on("mousemove", function (event) {

                var visitorData = {
                    referringSite: document.referrer,
                    page: event.pageX + "-" + event.pageY + "-" + userAgent + "-" + pagesUrl + "-" + ipaddress + "-" + country_name + "-" + country_code + "-" + clickonpage + "-" + clickedele,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data', visitorData);
            });
            $(document).click(function (event) {
                
                clickonpage = clickonpage + 1;
                clickedele = event.target.tagName;
                var visitorData = {
                    referringSite: document.referrer,
                    page: event.pageX + "-" + event.pageY + "-" + userAgent + "-" + pagesUrl + "-" + ipaddress + "-" + country_name + "-" + country_code + "-" + clickonpage + "-" + clickedele ,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data-click', visitorData);
            });
            $(window).scroll(function (event) {
                var scrollPos = $(window).scrollTop();
                var visitorData = {
                    referringSite: document.referrer,
                    page: event.pageX + "-" + event.pageY + "-" + userAgent + "-" + pagesUrl + "-" + ipaddress + "-" + country_name + "-" + country_code + "-" + clickonpage + "-" + clickedele + "-" + scrollPos,
                    mouseX: ipaddress,
                    mouseY: event.pageY,
                }
                socket.emit('visitor-data-scroll', visitorData);
            });

        </script>

    </body>

</html>
