.sidebar .nav li > a, body > .navbar-collapse .nav li > a{margin:0px;}
.nav>li>a{padding: 0px;}
.sidebar, body > .navbar-collapse{width: 145px;}
.sidebar .nav p, body > .navbar-collapse .nav p{margin-left: 10px;}
.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper{width: 145px;}
.main-panel{width: calc(100% - 145px);}
.nav-active-menu-sree{    padding-left: 10px;
    border: 1px solid gray;
    padding-right: 10px;
    border-radius: 14%;
    margin-left: 10px;
    background: lightskyblue;}